.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 5rem;
    padding: 5rem 0;
}

.static-item {
    display: flex;
}

.static-item .register-content,
.static-item .search-content,
.static-item .course-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.static-item .register-content h2,
.static-item .search-content h2,
.static-item .course-content h2 {
    font-size: 14px;
    width: 300px;
    text-align: center;
}

@media screen and (min-width: 320px) {
    .home-container {
        min-height: 265vh;
        padding: 0;
        margin-bottom: 4rem;
    }

    .static-item .register-content img,
    .static-item .search-content img,
    .static-item .course-content img {
        width: 100vw;
        height: 300px;
        object-fit: cover;
    }
    
    .static-item .register-content p,
    .static-item .search-content p,
    .static-item .course-content p {
        font-size: 12px;
        width: 90vw;
    }

    .search-content aside .language-icon-container {
        width: 80vw;
        justify-content: space-between;
        gap: 0rem;
    }
}

@media screen and (min-width: 580px) {
    .home-container {
        justify-content: flex-start;
        min-height: 240vh;
        padding: 0;
        margin-bottom: 1rem;
    }
    
    .static-item .course-content {
        margin-top: 1rem;
    }

    .static-item .register-content img,
    .static-item .search-content img,
    .static-item .course-content img {
        width: 90vw;
    }

    .static-item .register-content h2,
    .static-item .search-content h2,
    .static-item .course-content h2 {
        font-size: 16px;
        width: 90vw;
    }

    .static-item .register-content p,
    .static-item .search-content p,
    .static-item .course-content p {
        font-size: 14px;
        width: 80vw;
    }

    .search-content aside .language-icon-container {
        width: 100vw;
        justify-content: center;
        gap: 2rem;
    }
}

@media screen and (min-width: 720px) {
    .home-container {
        min-height: 270vh;
    }
    
    .static-item .course-content {
        margin-top: 2rem;
    }

    .static-item .register-content img,
    .static-item .search-content img,
    .static-item .course-content img {
        width: 80vw;
    }

    .static-item .register-content h2,
    .static-item .search-content h2,
    .static-item .course-content h2 {
        font-size: 18px;
    }

    .static-item .register-content p,
    .static-item .search-content p,
    .static-item .course-content p {
        font-size: 14px;
    }
}

@media screen and (min-width: 960px) {
    .home-container {
        margin-bottom: 8rem;
    }

    .static-item .course-content {
        margin-top: 8rem;
    }

    .static-item .register-content img,
    .static-item .search-content img,
    .static-item .course-content img {
        width: 80vw;
        height: 400px;
    }

    .static-item .register-content h2,
    .static-item .search-content h2,
    .static-item .course-content h2 {
        font-size: 20px;
    }

    .static-item .register-content p,
    .static-item .search-content p,
    .static-item .course-content p {
        font-size: 16px;
        width: 80vw;
    }
}

@media screen and (min-width: 1200px) {
    .home-container {
        display: none;
    }
}