.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color-alt);
    color: var(--bg-color-alt);
    padding: .5rem 0;
    padding-inline: 8%;
}

.navigation-container div {
    display: flex;
    align-items: center;
    gap: .1rem;
}

.navigation-container span {
    color: var(--text-color-alt);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navigation-container span:nth-of-type(1) {
    color: #11bbef;
    cursor: pointer;
}