.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color-alt);
    color: var(--bg-color-alt);
    padding: .5rem 0;
    padding-inline: 8%;
}

.navigation-container div {
    display: flex;
    align-items: center;
    gap: .1rem;
    cursor: pointer;
}

.navigation-container span {
    color: #11bbef;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navigation-container div img {
    height: 50px;        
}

@media screen and (max-width: 580px) {
    .navigation-container {
        padding-inline: 5%;
    }

    .navigation-container span {
        font-size: .7rem;
    }

    .navigation-container div img {
        height: 40px;        
    }
}

@media screen and (max-width: 960px) {
   .navigation-container button {
    display: none;
   }

}